.apartment {
  display: flex;
  justify-content: center;
    margin-bottom: 10px;
    border-width: thin;
    padding: 10px;
    border-radius: 8px;

}
.apartmentcont{
  margin-right: auto;
}
.apartmentDetails{
  display: inline-block;
}
