body {
  margin: 0;
  font-size: 16px;
  text-align: center;
}

a {
  color: #00bcd4;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s;
}

a:hover {
  color: #1976d2;
}

.text-center {
  text-align: center;
}

.top-bar {
  padding: 10px 15px;
  margin-bottom: 100px;
}
.top-bar::after {
  content: '';
  display: block;
  clear: both;
}

.top-bar-left {
  float: left;
  font-size: 1.5em;
}

.top-bar-right {
  float: right;
}

.roostIcon {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 50%;
  right: 50%;
  justify-content:space-between;
    /* display:flex; */
   flex-wrap: wrap;
}

.roostImage{
    height: 55px;
    width: 55px;
}

.container {
  margin: 200px auto;
  text-align: center;
  width: 400px;
}

.card-heading {
  padding: 16px;
}

.field-line, .button-line {
  padding: 16px;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
}
.select-style{
  display: none;
  font-size: 20px;
}

@media only screen and (max-width: 980px) {
    .roostIcon {
        position: relative;
        float: left;
        left: 0;
        right: 0;
    }
}

@media only screen and (max-width: 668px) {
  .top-bar-right .listNav {
    display: none;
  }
  .top-bar-right .select-style{
    display: flex;
  }
}
