ul {
    padding: 0;
    list-style: none;
  }
.navbar {
    display: flex;
    height: 46px;
    align-items: center;
    padding: 0 10px;
    border-radius: 5px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}
li:nth-child(2) {
    margin-left: auto;
}
li:first-child{
    margin-left: 10px;
}
.navButton {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.3s;
    border-style: none;
    background-color:transparent;
    color: #181818;
    border-radius: 4px;
    font-size: 15px;
}
.roostIcon{
    margin-left: auto;
    margin-right: auto;
}
.roostImage{
    height: 45px;
    width: 45px;
}
.title{
    margin-right: 18%;
    margin-left: 3%;
}
.navButton:hover {
    background-color: rgb(120, 121, 120); /* Green */
    color: white;
    cursor: pointer;
}
li {
    margin-right: 5px;
}